<page-title ng-if="layoutOptions.pageTitles" title="Users" description="User Management"></page-title>  

<div class="row">

	<div class="col-md-12">

		<tabset>
			<tab heading="All Members">

				<table class="table table-hover members-table middle-align">
					<thead>
						<tr>
							<!-- <th></th> -->
							<th class="hidden-xs hidden-sm"></th>
							<th>username</th>
							<th>FullName</th>
							<!-- <th class="hidden-xs hidden-sm">User ID</th> -->
							<th>Country</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						
						<tr ng-repeat="item in data" ng-hide="item.deleted || item.username == 'admin'">
							<!-- <td class="user-cb">
								<input type="checkbox" name="members-list[]" value="item._id" checkbox-group style="visibility: hidden"/>
							</td> -->
							<td class="user-image hidden-xs hidden-sm">
								<a href="" ng-click="editUser(item.userID)">
									<img src="assets/images/user-1.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name" ng-click="editUser(item.userID)">{{item.username}}</a>
								<!-- <span>Administrator</span> -->
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="name">{{item.fullName}}</span>
							</td>
							<!-- 
							<td class="user-id">
								{{item.userID}}
							</td>
							 -->
							<td class="user-name">
								{{getCountryName(item.country)}}
							</td>
							<td class="action-links">
								<a href="" class="edit" ng-click="editUser(item.userID)">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete" ng-click="deleteUser(item)">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table> <!-- .members-table -->

				<div class="row">
					<div class="col-sm-12">

						<div class="members-table-actions">
							
							
							<div class="selected-actions">
								<a href="#/app/user-manager-add-a-user" class="edit">Add a User</a>								
							</div>
							
						</div>

					</div>
				</div>
			</tab>
			
			<tab heading="Subscribers">
				<table class="table table-hover members-table middle-align">
					<thead>
						<tr>
							<th></th>
							<th class="hidden-xs hidden-sm"></th>
							<th>Name and Role</th>
							<th class="hidden-xs hidden-sm">E-Mail</th>
							<th>ID</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="2" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="assets/images/user-2.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name hidden-xs hidden-sm">
								<a href="" class="name">Arlind Nushi</a>
								<span>Subscriber</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">me@arlindnushi.com</span>
							</td>
							<td class="user-id">
								1232518110
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="assets/images/user-3.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Bryan Green</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">bryan@green.com</span>
							</td>
							<td class="user-id">
								1232518153
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="assets/images/user-5.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Nicholas Walker</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">nickw@live.com</span>
							</td>
							<td class="user-id">
								1232518167
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-sm-12">

						<div class="members-table-actions">
							<div class="selected-items">
								<span>1</span>
								members selected
							</div>

							<div class="selected-actions">
								<a href="" class="edit">Edit Profile</a>
								or
								<a href="" class="delete">Delete</a>
							</div>
						</div>

					</div>
				</div>

			</tab>
		</tabset>

	</div>
</div>